h1 {
    font-size: 3em;
    
    text-align: center;
    color: aliceblue;
    border: 2px solid rgb(215, 237, 17);
    outline-style: solid;
    outline-color: red;
    margin: 1em;
}

body{
    color: aliceblue;
}
section{
    display: flex;
   margin-left: 7em;
}
.subsect{
    
  margin-left: 1.5em;
  background-color: #a82c03;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-top:1.5em;
  padding-bottom: 1.5em;
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  width: 450px;
  height: 410px;
}
#billbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}  

.instagram {
    background: #3f729b;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin: 0.2em;

}


.fa {
    padding: 20px;
    font-size: 15px;
    width: 30px;
    height: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }


.contact{
    margin-left: 47em;
    
}

table, th, td {
  background-image: url(fire.jpg);

  margin-left: 35em;
  margin-bottom: 10em;
  font-size: larger;
  border: 2px solid;
  padding: 15px;
  text-align: left;
  width: 30%;
  height: 50%;
}

button {
  display: inline-block;
  padding: 1px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}